<div class="page-header">
  <h1>Students</h1>
</div>

<%= render 'filter_form' %>

<table class="table table-striped well">
  <thead>
  <tr>
    <th>Name</th>
    <th>Group</th>
  </tr>
  </thead>
  <tbody>
    <%= render collection %>
  </tbody>
</table>
