<div class="hero-unit">
  <h1>University</h1>
  <p>Rapid development of the University played a significant role in the creation of the educational system of the republic. The University’s educational and research capacity gave birth to a number of independent higher educational establishments, such as Minsk Medicine Institute, Minsk Law Institute, Minsk Pedagogical Institute, the Belarusian Institute of National Economy, Minsk Chemical and Technological Institute, which later became a part of the Polytechnic Institute. The Belarusian State University contributed much to the foundation and development of the Academy of Sciences, the Republic’s State Library and a number of large research institutions.</p>
  <% unless logged_in? %>
      <p><%= link_to 'Sign Up Now', signup_path, :class => 'btn btn-primary btn-large' %></p>
  <% end %>
</div>